!!!
/
  Landed by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Landed by HTML5 UP
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    /[if lte IE 8] <script src="assets/js/ie/html5shiv.js"></script>
    %link{:href => "assets/css/main.css", :rel => "stylesheet"}/
    /[if lte IE 9] <link rel="stylesheet" href="assets/css/ie9.css" />
    /[if lte IE 8] <link rel="stylesheet" href="assets/css/ie8.css" />
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js", :type => "text/javascript"}
    %script{:src => "https://blockchain.info/Resources/js/pay-now-button.js", :type => "text/javascript"}
  %body.landing
    #page-wrapper
      / Header
      %header#header
        %h1#logo
          %a{:href => "/"} Gatoto
        %nav#nav
          %ul
            %li
              %a.button.special{:href => "#five"}=I18n.t(:donate_now)
      / Banner
      %section#banner
        .content
          %header
            %h2=I18n.t(:project)[:title]
            %p
              = I18n.t(:project)[:description_1]
              %br/
              = I18n.t(:project)[:description_2]
          %span.image
            %img{:alt => "", :src => "images/pic01.jpg"}/
          %br
        -# %a.button.special{:href => '/'}Donate now with BTC
        %a.goto-next.scrolly{:href => "#one"}=I18n.t(:next)
      / One
      %section#one.spotlight.style1.bottom
        %span.image.fit.main
          %img{:alt => "", :src => "images/pic02.jpg"}/
        .content
          .container
            .row
              .4u{:class => "12u$(medium)"}
                %header
                  %h2=I18n.t(:details)[:one][:title]
                  %p=I18n.t(:details)[:one][:second_title]
              .4u{:class => "12u$(medium)"}
                %p=I18n.t(:details)[:one][:description_1]
              %div{:class => "4u$ 12u$(medium)"}
                %p=I18n.t(:details)[:one][:description_2]
        %a.goto-next.scrolly{:href => "#two"}=I18n.t(:next)
      / Two
      %section#two.spotlight.style2.right
        %span.image.fit.main
          %img{:alt => "", :src => "images/pic03.jpg"}/
        .content
          %header
            %h2=I18n.t(:details)[:two][:title]
            %p=I18n.t(:details)[:two][:second_title]
          %p=I18n.t(:details)[:two][:description]
          %ul.actions
            %li
              %a.button{:href => "https://www.gatoto.org", :target => '_blank'}=I18n.t(:learn_more)
              %a.button.html5lightbox{"data-height" => "620", "data-width" => "780", :href => "https://player.vimeo.com/video/139946723?title=0&byline=0&portrait=0" }=I18n.t(:watch_now)
        %a.goto-next.scrolly{:href => "#three"}=I18n.t(:next)
      / Three
      %section#three.spotlight.style3.left
        %span.image.fit.main.bottom
          %img{:alt => "", :src => "images/pic04.jpg"}/
        .content
          %header
            %h2=I18n.t(:details)[:three][:title]
            %p=I18n.t(:details)[:three][:second_title]
          %p=I18n.t(:details)[:three][:description]
          %ul.actions
            %li
              %a.button{:href => "http://prosabersp.org.br", :target => '_blank'}=I18n.t(:learn_more)
              %a.button.html5lightbox{"data-height" => "620", "data-width" => "780", :href => "https://player.vimeo.com/video/235168970?title=0&byline=0&portrait=0" }=I18n.t(:watch_now)
        %a.goto-next.scrolly{:href => "#four"}=I18n.t(:next)
      / Four
      %section#four.wrapper.style1.special.fade-up
        .container
          %header.major
            %h2=I18n.t(:details)[:four][:title]
            %p=I18n.t(:details)[:four][:second_title]
          .box.alt
            .row.uniform
              %section.4u{:class => "6u(medium) 12u$(xsmall)"}
                %span.icon.alt.major.fa-area-chart
                %h3=I18n.t(:details)[:four][:boxes][:one][:title]
                %p=I18n.t(:details)[:four][:boxes][:one][:description]
              %section.4u{:class => "6u$(medium) 12u$(xsmall)"}
                %span.icon.alt.major.fa-comment
                %h3=I18n.t(:details)[:four][:boxes][:two][:title]
                %p=I18n.t(:details)[:four][:boxes][:two][:description]
              %section{:class => "4u$ 6u(medium) 12u$(xsmall)"}
                %span.icon.alt.major.fa-flask
                %h3=I18n.t(:details)[:four][:boxes][:three][:title]
                %p=I18n.t(:details)[:four][:boxes][:three][:description]
              %section.4u{:class => "6u$(medium) 12u$(xsmall)"}
                %span.icon.alt.major.fa-paper-plane
                %h3=I18n.t(:details)[:four][:boxes][:four][:title]
                %p=I18n.t(:details)[:four][:boxes][:four][:description]
              %section.4u{:class => "6u(medium) 12u$(xsmall)"}
                %span.icon.alt.major.fa-file
                %h3=I18n.t(:details)[:four][:boxes][:five][:title]
                %p=I18n.t(:details)[:four][:boxes][:five][:description]  
              %section{:class => "4u$ 6u$(medium) 12u$(xsmall)"}
                %span.icon.alt.major.fa-lock
                %h3=I18n.t(:details)[:four][:boxes][:six][:title]
                %p=I18n.t(:details)[:four][:boxes][:six][:description]
          %footer.major
            %ul.actions
              %li
                %a.button{:href => "#five"}=I18n.t(:details)[:four][:action]
      %section#four.wrapper.style1.special.fade-up{:style => "background-color:#5480f1"}
        .container
          %header.major.title-underline
            %h2=I18n.t(:sponsors)
          .box.alt
            .row.uniform
              %section.4u{:class => "6u(medium) 12u$(xsmall)"}
                %a.no-border-bottom{:href => "https://foxbit.com.br", :target => "_blank"} 
                  %img{:src => "images/foxbit.png"}
              %section.4u{:class => "6u$(medium) 12u$(xsmall)"}
                %a.no-border-bottom{:href => "https://bitpesa.co", :target => "_blank"} 
                  %img{:src => "images/bitpesa.png"}
              %section{:class => "4u$ 6u(medium) 12u$(xsmall)"}
                %a.no-border-bottom{:href => "https://bitwage.com", :target => "_blank"}
                  %img{:src => "images/bitwage.png"}
              %section{:class => "12u$"}
                %a.no-border-bottom{:href => "https://bitvest.life", :target => "_blank"} 
                  %img{:src => "images/bitvest.png"}
          %header.major.title-underline
            %h2=I18n.t(:support)
          .box.alt
            .row.uniform
              %section{:class => "12u$"}
                %a.no-border-bottom{:href => "https://guiadobitcoin.com.br", :target => "_blank"} 
                  %img{:src => "images/guia-do-bitcoin.jpg"}
              %section{:class => "12u$"}
                %a.no-border-bottom{:href => "https://portaldobitcoin.com", :target => "_blank"} 
                  %img{:src => "images/portalbitcoin.png"}
      / Five
      %section#five.wrapper.style2.special.fade
        .container
          .blockchain-btn{"data-address" => "1KENYAuDzgGZkeHP5edReDhrqRmPdKtPem", "data-shared" => "false", :style => "font-size:16px;margin:0 auto;width:300px"}
            .blockchain.stage-begin
              %img{:src => "https://blockchain.info/Resources/buttons/donate_64.png", :style => 'cursor:pointer'}/
            .blockchain.stage-loading{:style => "text-align:center"}
              %img{:src => "https://blockchain.info/Resources/loading-large.gif"}/
            .blockchain.stage-ready
              %p{:align => "center"}
                Please Donate To Bitcoin Address:
                %b [[address]]
              %p.qr-code{:align => "center"}
            .blockchain.stage-paid
              Donation of
              %b [[value]] BTC
              Received. Thank You.
            .blockchain.stage-error
              %font{:color => "red"} [[error]]
          %header
            %p=I18n.t(:details)[:five][:description]
          %form.container{:action => "#", :class => "50%", :method => "post"}
            .row.uniform{:class => "50%"}
              .8u{:class => "12u$(xsmall)"}
                %input#email{:name => "email", :placeholder => I18n.t(:email_address), :type => "email"}/
              %div{:class => "4u$ 12u$(xsmall)"}
                %input.fit.special{:type => "submit", :value => I18n.t(:get_started) }/
      / Footer
      %footer#footer
        %ul.copyright
          %li © Gatoto. All rights reserved.
          %li
            Design:
            %a{:href => "http://html5up.net"} HTML5 UP
    / Scripts
    %script{:src => "assets/js/jquery.min.js"}
    %script{:src => "assets/js/jquery.scrolly.min.js"}
    %script{:src => "assets/js/jquery.dropotron.min.js"}
    %script{:src => "assets/js/jquery.scrollex.min.js"}
    %script{:src => "assets/js/skel.min.js"}
    %script{:src => "assets/js/util.js"}
    /[if lte IE 8] <script src="assets/js/ie/respond.min.js"></script>
    %script{:src => "assets/js/html5lightbox.js"}
    %script{:src => "assets/js/main.js"}

